@import "https://fonts.googleapis.com/css?family=Poppins&effect=fire-animation";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
  background-image: url('images/mountain.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  border: 12px solid black;
  border-radius: 0px;
}

nav li { 
  list-style: upper-greek;
  text-decoration: overline underline solid red;
  font-weight: bolder;
  display: inline-grid;
  margin: 15px 80px;
  font-size: 25px;
  padding-bottom: 25px;
 }
 li {
  margin-left: 18px;
 }

 h1 {
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 28px;
  margin-left: 35px;
 }
 body {
    min-height: 100vh;
    background: url(images/bg1.jpg);
}


 .audio_div {
  border-radius: 20% / 50%;
  width: 80%;
  color: greenyellow;
 }

  audio:hover {
  transform: scale(1.05);
}


footer {

  text-align: center;
  color: navy;
background-color: goldenrod;
}

.container {
    width: 80%;
    background-color: black;
    background-size: cover;
    margin: 0 auto;

    position: relative;
    border: 12px solid black;
    border-radius: 0px;
}

.intro {
  color: white;
  font-size: 25px;
  font-weight: revert;
  background-color: black;
}
.homeimg {
  width:400px;

}



img {
  width: 200px;
}

h2 {
  text-align: center;
  text-decoration: underline darkblue;
  color: lightcoral;
  font-size: 35px;
}



table {
  border: 2px solid #ccc;
  border-collapse: collapse;
  margin-left: 2px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 2em;
}

table tr {
  background-color:   #EEE8AA;
  border: 2px solid #DAA520;
}

table th,
table td {
  padding: .625em;
  text-align: inherit;
}

table th {
  font-size: 0.70em;
  text-transform: uppercase;
}
td {
  font-size: 14px;
}

caption { color: lightblue; }

.ev_1 {
background-color: lightgray;
}

form {
  padding-top: 40px;
  background-color: lightgrey;
  width: 500px;
  margin-left: 20px;
  padding-bottom: 20px;
  border: 4px solid seagreen;
  border-radius: 25px;
  background-color: lightsteelblue;
}

label {
    font-size: 1em;
    background: lightseagreen;
    display: inline-block;
    line-height: 1.4em;
    padding: 0 10px;
    transition: all .2s linear;
    text-transform: capitalize;
    transition: all .2s linear;
    top: -25px;
}
select {
  display: inline-block;
  width: 170px;
  margin-left: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"]{
  padding: 10px;
  width: 100%;
  border: 1px solid #b5b5b5;
}
input[type="radio"]{
  margin-right: 10px;
}



@media screen and (max-width: 768px) {
    img {
      width: 100px;
      height: 100px;
    }

thead, tr, td{
    max-width: 100%;
    display: inline-block;
}
td {
  margin: 10px;
}
table{
    min-width: 97%;
    border: none;

}

.container {
  width: 100%;
  background-color: goldenrod;
}

.homeimg {
  width: 300px;
  height: 300px;
}

h2 {
  color: white;
}

td{
  font-size: 10px;
}

}    

